/* Left Sidebar */
.SideBar--left {
  padding-left: 4vw;
  position: fixed;
  height: 95vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1300px) {
  .SideBar--left {
    padding-left: 10vw;
  }
}

.Brand {
  margin: 1.6rem 0 ;
}

.Brand span {
  color: rgb(255, 94, 0);
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 0.2rem solid rgb(255, 94, 0);
}

.Nav__header {
  text-transform: uppercase;
}

.Nav__list {
  padding: 1.1rem 0;
}

.Nav__list li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.Nav__list a {
  text-decoration: none;
  color: #222;
  font-weight: 400; 
}

.Nav__list span[role] {
  display: inline-block;
  width: 2rem;
}

/* Right Sidebar */
.SideBar--right {
  position: fixed;
  padding-right: 2vw;
  height: 95vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1150px) {
  .SideBar--right {
    padding-right: 10vw;
  }
}

.SideBar__content {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.SideBar__content h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.SideBar__content p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.SideBar__content input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 5px;
  border: 1px solid rgba(212, 212, 212, 0.671);
  width: 100%;
  height: 35px;
  color: #777;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 300;
  outline: none;
}

.SideBar__content > input:focus {
  border: 2px solid rgba(212, 212, 212, 0.671);
}

.SideBar__content Button {
  width: 100%;
}

.SideBar__content a {
  color: rgb(255, 94, 0);
  text-decoration: none;
}
