.Table__box {
  width: 90%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Table__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Table__header--label {
  color: #666;
  font-weight: 400;
  text-transform: uppercase;
}

.Table__header select {
  color: #666;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: 'Roboto';
  text-transform: uppercase;
}

.Item__box {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(233, 233, 233, 0.452);
}

.Item__box--info {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  min-width: 6rem;
}

.Item__box--preview {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.Item__box--info {
  line-height: 1.5;
  color: #666;
}
.Item__box--info div:nth-child(1) {
  font-size: 20px;
}

.Item__box--upvotes,
.Item__box--comments {
  margin-right: 0.5rem;
}

.Item__box--preview p {
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.Item__box--preview span {
  font-size: 14px;
}

.Item__box a {
  color: #555;
  font-weight: 500;
  text-decoration: none;
}